@page "/"
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Home</PageTitle>

<div class="row mt-10 mb-10 container-fluid">
    <RadzenTabs Style="background-color: white" TabPosition="TabPosition.Top" class="col-12 mb-10 rz-shadow-6">
        <Tabs>
            @*make foreach loop mabye*@
            @for (int i = 0; i < 5; i++)
            {
                _intDay = "day ";
                _intDay += i + 1;
                <RadzenTabsItem Text="@_intDay">
                    <MenuTemplate></MenuTemplate>
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
</div>
